.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

@media screen and (max-width:419px) {
  
  .row {
    margin-top: 0;
  }
}


/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

@media screen and (max-width:419px) {
  
  #lezioni .row>.left, 
  #lezioni .row>.right, 
  #lezioni h1 {
    width: 100%;
    margin: 0;
    font-size: 28px;
    padding-bottom: 20px;
  }
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width:419px) {

  #lezioni .row img {
    padding-top: 30px;
  }
}

#lezioni {
  text-align: center;
}

@media screen and (max-width:419px) {

  #lezioni .row{
    background-color: #F2F2CD;
  }

  #lezioni h1 {
    padding-top: 30px;
    font-size: 50px;
  }

  #lezioni h3 {
    margin: 0;
  }
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

@media screen and (max-width:419px) {

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right,
  #steps h1 {
    width: 100%;
    font-size: 28px;
    padding-bottom: 10px;
  }
}

#steps {
  text-align: center;
}

@media screen and (max-width:419px) {

  #steps .row {
    background-color: #FFFFFF;
  }

  #steps h1 {
    padding-top: 30px;
    font-size: 50px;
    margin: 0;
  }

  #steps h3 {
    margin: 0;
  }

  #steps img {
    padding-top: 30px;
  }
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

@media screen and (max-width:419px) {

  #why .row {
    background-color: #F2F2CD;
  }

  #why h1 {
    padding-top: 30px;
    font-size: 50px;
    margin: 0;
  }

  #why h3 {
    margin: 0;
  }

  #why hr {
    margin: 0 25px;
    background-color: #5A5A5A;
    
  }
}


#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

@media screen and (max-width:419px) {

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin: 0;
    font-size: 28px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

@media screen and (max-width:419px) {

  #why .row img {
    padding-top: 20px;
  }
}



/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}



img {
  height: 200px;
}

.clear {
  clear: both;
}
